# Python
__pycache__/
*.py[cod]

# Virtual Environment
venv/

# Environment Variables
.env

# VS Code
.vscode/

# Streamlit
.streamlit/

# Reports
outputs/
reports/

# Jupyter
.ipynb_checkpoints/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# SQLite database
*.db
database/*.db